<a class="button board-title" href="#">My New Board</a>
<a class="button board-starred" href="#">
  <span class="icon-small icon-star light"></span>
</a>
<a class="button board-visibility" href="#">
  <span class="icon-small icon-private light"></span>
  <p>Private</p>
</a>
<a class="button board-menu" href="#">
  <span class="icon-small icon-more light"></span>
  <p>Show Menu</p>
</a>
