<div class="header">
  <span class="icon-card icon-xlarge modal-header-icon"></span>
  <a href="#" class="icon-cancel icon-xlarge close-modal"></a>
  <div class="title">
    <textarea>{{title}}</textarea>
  </div>
  <div class="current-list">
    <p>in list</p>
    <a href="#"></a>
    {{#if subscribed}}
    <span class="icon-subscribe icon-small"></span>
    {{/if}}
  </div>
</div>

<div class="main-content">
  <div class="card-information">
    <div class="card-modal-labels">
    </div>
    <div class="card-modal-due-date">
      <h5>Due Date</h5>
      <a href="#"></a>
    </div>
    <div class="description">
      {{#if description}}
      <div>
        <h5>Description</h5>
        <a href="#" class="display-edit">Edit</a>
      </div>
      <div class="description-text markdown"></div>
      {{else}}
      <a href="#" class="empty-description display-edit">
        <span class="icon-description icon-large"></span>
        Edit the description...
      </a>
      {{/if}}
      <div class="edit-description">
        <textarea></textarea>
        <div class="description-controls">
          <input type="submit" value="Save" class="submit-btn save-description" />
          <a href="#" class="cancel-btn close-description">
            <span class="icon-xlarge cancel-btn icon-cancel"></span>
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="card-comments">
    <div class="comment-header">
      <span class="icon-comment icon-xlarge"></span>
      <h3>Add Comment</h3>
    </div>
    <div class="new-comment">
      <span class="icon-member icon-xlarge"></span>
      <textarea placeholder="Write a comment..." class="comment-bg"></textarea>
      <div class="comment-controls">
        <input type="submit" value="Send" class="submit-btn" />
      </div>
    </div>
  </div>
  <div class="card-activity">
    <div class="activity-header">
      <span class="icon-activity icon-xlarge"></span>
      <h3>Activity</h3>
    </div>
    <div class="activity-content">
    </div>
  </div>
</div>
<div class="sidebar">
  <div class="add-buttons">
    <h3>Add</h3>
    <a href="#" class="modal-button members-btn">
      <span class="icon-member icon-small"></span>
      Members
    </a>
    <a href="#" class="modal-button labels-btn">
      <span class="icon-label icon-small"></span>
      Labels
    </a>
    <a href="#" class="modal-button checklist-btn">
      <span class="icon-checklist icon-small"></span>
      Checklist
    </a>
    <a href="#" class="modal-button duedate-btn">
      <span class="icon-duedate icon-small"></span>
      Due Date
    </a>
    <a href="#" class="modal-button attachment-btn">
      <span class="icon-attachment icon-small"></span>
      Attachment
    </a>
  </div>
  <div class="action-buttons">
    <h3>Actions</h3>
    <a href="#" class="modal-button move-btn">
      <span class="icon-forward icon-small"></span>
      Move
    </a>
    <a href="#" class="modal-button copy-btn">
      <span class="icon-card icon-small"></span>
      Copy
    </a>
    <a href="#" class="modal-button subscribe-btn">
      <span class="icon-subscribe icon-small"></span>
      Subscribe
      {{#if subscribed}}
      <div class="subscribe-active">
        <span class="icon-small icon-check selected-color light"></span>
      </div>
      {{/if}}
    </a>
    <a href="#" class="modal-button archive-btn">
      <span class="icon-archive icon-small"></span>
      Archive
    </a>
  </div>
  <a href="#">Share and more...</a>
</div>