<span class="icon-member icon-xlarge"></span>
<div class="comment-content">
  <h4>{{user}}</h4>
  <div class="comment-text comment-bg">{{text}}</div>
  <p>
    {{formatDateTime dateTime}} - 
    <a href="#" class="delete-comment">Delete</a>
  </p>
</div>
