<div class="popover-header">
  <a href="#" class="close-popover">
    <span class="icon-small icon-cancel"></span>
  </a>
  Move Card
</div>
<div class="popover-content">
  <dl>
    <dt>
      <label for="list"><p>List</p></label>
    </dt>
    <dd>
      <select id="list-options">
        {{#each lists}}
        <option value="{{id}}" {{#if selected}}selected{{/if}}>{{name}}</option>
        {{/each}}
      </select>
    </dd>
  </dl>
  <dl>
    <dt>
      <label for="position"><p>Position</p></label>
    </dt>
    <dd>
      <select id="position-options"></select>
    </dd>
  </dl>
  <div class="controls">
    <input type="submit" value="Move" class="submit-btn" />
  </div>
</div>