<div class="popover-header">
  <a href="#" class="close-popover">
    <span class="icon-small icon-cancel"></span>
  </a>
  Change Due Date
</div>
<div class="popover-content">
  <input type="text" class="due-date-calendar" name="date" placeholder="Enter Date..." />
  <input type="text" class="due-date-calendar" name="time" placeholder="Enter Time..." />
  <div class="date-picker"></div>
  <div class="controls">
    <input type="submit" value="Save" class="submit-btn save-date" />
    <input type="submit" value="Remove" class="submit-btn delete" />
  </div>
</div>