<a href="/" class="header-logo" alt="Trello Home">
  <span class="header-logo-image"></span>
</a>
<a href="#" class="header-button">
  <span class="icon-large icon-board light"></span>
  <p>Board</p>
</a>
<div class="header-search">
  <input type="text" name="search" class="search-field" />
  <span class="icon-large icon-search light"></span>
  <span class="icon-large icon-cancel close-search"></span>
</div>
<div class="user-info">
  <a href="#" class="header-button">
    <span class="icon-large icon-plus light"></span>
  </a>
  <a href="#" class="header-button">
    <span class="icon-large icon-info light"></span>
  </a>
  <a href="#" class="header-button notifications-btn">
    <span class="icon-large icon-notification light"></span>
  </a>
</div>