<div class="popover-header">
  <a href="#" class="popover-back">
    <span class="icon-small icon-back"></span>
  </a>
  <a href="#" class="close-popover">
    <span class="icon-small icon-cancel"></span>
  </a>
  Change Label
</div>
<div class="popover-content">
  <div class="label-wrapper">
    <div class="edit-name">
      <label for="name"><p>Name</p></label>
      <input type="text" name="name" />
    </div>
    <div class="select-color">
      <label><p>Select a color</p></label>
      <div class="color-picker green" data-color="green">
        <span class="icon-small icon-check selected-color light"></span>
      </div>
      <div class="color-picker yellow" data-color="yellow">
        <span class="icon-small icon-check selected-color light"></span>
      </div>
      <div class="color-picker orange" data-color="orange">
        <span class="icon-small icon-check selected-color light"></span>
      </div>
      <div class="color-picker red" data-color="red">
        <span class="icon-small icon-check selected-color light"></span>
      </div>
      <div class="color-picker purple" data-color="purple">
        <span class="icon-small icon-check selected-color light"></span>
      </div>
      <div class="color-picker blue" data-color="blue">
        <span class="icon-small icon-check selected-color light"></span>
      </div>
      <div class="color-picker sky" data-color="sky">
        <span class="icon-small icon-check selected-color light"></span>
      </div>
      <div class="color-picker lime" data-color="lime">
        <span class="icon-small icon-check selected-color light"></span>
      </div>
      <div class="color-picker pink" data-color="pink">
        <span class="icon-small icon-check selected-color light"></span>
      </div>
      <div class="color-picker black" data-color="black">
        <span class="icon-small icon-check selected-color light"></span>
      </div>
      <div class="color-picker none" data-color="none">
        <span class="icon-small icon-check selected-color light"></span>
      </div>
      <p>No color.<br /> This won't show up on the front of cards.</p>
    </div>
    <div class="controls">
      <input type="submit" class="submit-btn" value="Save" name="save" />
    </div>
  </div>
</div>