<div class="popover-header">
  <a href="#">
    <span class="icon-small icon-cancel"></span>
  </a>
  Labels
</div>
<div class="popover-content">
  <input type="text" name="search-labels" placeholder="Search labels..." />
  <div class="label-wrapper">
    <div class="label green" data-color="green">
      <span class="icon-small icon-check selected-label light"></span>
    </div>
    <a href="#" class="edit-label">
      <span class="icon-large icon-edit"></span>
    </a>
  </div>
  <div class="label-wrapper">
    <div class="label yellow" data-color="yellow">
      <span class="icon-small icon-check selected-label light"></span>
    </div>
    <a href="#" class="edit-label">
      <span class="icon-large icon-edit"></span>
    </a>
  </div>
  <div class="label-wrapper">
    <div class="label orange" data-color="orange">
      <span class="icon-small icon-check selected-label light"></span>
    </div>
    <a href="#" class="edit-label">
      <span class="icon-large icon-edit"></span>
    </a>
  </div>
  <div class="label-wrapper">
    <div class="label red" data-color="red">
      <span class="icon-small icon-check selected-label light"></span>
    </div>
    <a href="#" class="edit-label">
      <span class="icon-large icon-edit"></span>
    </a>
  </div>
  <div class="label-wrapper">
    <div class="label purple" data-color="purple">
      <span class="icon-small icon-check selected-label light"></span>
    </div>
    <a href="#" class="edit-label">
      <span class="icon-large icon-edit"></span>
    </a>
  </div>
  <div class="label-wrapper">
    <div class="label blue" data-color="blue">
      <span class="icon-small icon-check selected-label light"></span>
    </div>
    <a href="#" class="edit-label">
      <span class="icon-large icon-edit"></span>
    </a>
  </div>
</div>