<div class="list">
  <div class="list-header">
    <p>{{name}}</p>
    <a class="button">
      <span class="icon-small icon-more"></span>
    </a>
  </div>
  <a href="#" class="add-new-card">Add new...</a>
</div>