<div class="list">
  <div class="list-header">
    <div class="header-draggable"></div>
    <div class="list-name">
      <textarea>{{name}}</textarea>
    </div>
    <a class="button">
      <span class="icon-small icon-more"></span>
    </a>
  </div>
  <a href="#" class="add-new-card">Add new...</a>
</div>