<div class="list" data-id="{{id}}">
  <div class="list-header">
    <p>{{name}}</p>
    <a class="button">
      <span class="icon-small icon-more"></span>
    </a>
  </div>
  <div class="card-container"></div>
  <div class="add-new">
    <p>Add new</p>
  </div>
</div>