<div class="popover-header">
  <a href="#" class="close-popover">
    <span class="icon-small icon-cancel"></span>
  </a>
  List Actions
</div>
<div class="popover-content">
  <div class="list-actions-wrapper">
    <ul>
      <!-- <li>
        <a href="#" class="list-subscribe">Subscribe</a>
        {{#if subscribed}}
        <div class="list-subscribe-active">
          <span class="icon-small icon-check selected-color light"></span>
        </div>
        {{/if}}
      </li> -->
      <li>
        <a href="#" class="list-archive">Archive This List</a>
      </li>
    </ul>
  </div>
</div>