<div class="new-card-form">
  <div class="card-wrapper">
    <div class="card-content">
      <textarea class="new-card-textarea"></textarea>
    </div>
  </div>
  <div class="new-card-controls">
    <input type="submit" value="Add" class="submit-btn submit-new-card" />
    <a href="#" class="cancel-btn">
      <span class="icon-large cancel-btn icon-cancel"></span>
    </a>
  </div>
</div>