<div class="popover-content">
  
  {{#if results}}
    <ul class="search-results">
    {{#each results}}
      <li>
        <a href="/cards/{{formatCardUrl id title}}"><h3>{{title}}</h3></a>
        <p>in <strong>{{listName}}</strong> on <strong>My New Board</strong></p>
      </li>
    {{/each}}
    </ul>
  {{else}}
    <p class="no-result">We couldn't find any cards that matched your search.</p>
  {{/if}}
</div>