@import 'whitespace-reset.css';
@font-face {
  font-family: 'trellicons';
  src: url("trellicons.ttf") format('truetype');
}
body {
  background: #0079bf;
  overflow-y: auto;
}
body,
html,
textarea,
input[type='text'] {
  font: normal 14px Helvetica, Arial, sans-serif;
  color: #4d4d4d;
}
#surface {
  display: flex;
  flex-direction: column;
}
body,
#surface,
html {
  height: 100%;
}
a {
  color: #4d4d4d;
}
h3 {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  color: #4d4d4d;
}
input[type='text'],
textarea {
  border-radius: 3px;
  border: none;
  box-sizing: border-box;
  resize: none;
}
header {
  position: relative;
  width: 100%;
  padding: 5px;
  overflow: hidden;
  flex: none;
  z-index: 10;
  background: #026aa7;
}
header .header-logo {
  position: absolute;
  display: block;
  width: 80px;
  height: 30px;
  margin-left: -40px;
  top: 5px;
  left: 50%;
  bottom: 0;
  text-align: center;
  opacity: 0.5;
  z-index: 2;
}
header .header-logo .header-logo-image {
  position: absolute;
  width: 80px;
  height: 30px;
  background-image: url("/images/header-logo.png");
  background-position: top right;
  background-repeat: no-repeat;
  background-size: 80px 30px;
  right: 0;
  top: 0;
}
header .header-logo:hover {
  opacity: 100;
}
header .header-button {
  display: inline-block;
  height: 30px;
  padding: 6px 7px;
  margin-right: 10px;
  background: rgba(255,255,255,0.2);
  border-radius: 3px;
  box-sizing: border-box;
  vertical-align: middle;
}
header .header-button:hover {
  background: rgba(255,255,255,0.3);
}
header .header-button p {
  display: inline-block;
  padding-left: 10px;
  font-weight: bold;
  color: #fff;
  vertical-align: middle;
}
header .header-search {
  position: relative;
  display: inline-block;
  vertical-align: middle;
}
header .header-search input[type='text'].search-field {
  width: 180px;
  padding: 7px;
  background: rgba(255,255,255,0.3);
  outline: none;
  transition: width 150ms;
}
header .header-search input[type='text'].search-field:hover {
  background: rgba(255,255,255,0.5);
}
header .header-search input[type='text'].search-field:focus {
  background: #fff;
}
header .header-search span {
  position: absolute;
  top: 7px;
  right: 6px;
}
header .header-search span.close-search {
  display: none;
}
header .header-search input[type='text'].search-field.search-field-wide {
  width: 380px;
  background: #fff;
}
header .user-info {
  position: absolute;
  display: inline-block;
  margin-right: 0px;
  right: 5px;
}
header .notify-alert {
  background: #eb5a46;
}
header .notify-alert:hover {
  background: #b04632;
}
main {
  position: relative;
  overflow-y: auto;
  flex-grow: 1;
}
.board-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.board-content {
  display: flex;
  height: 100%;
  margin-right: 0;
  flex-direction: column;
}
.board-header {
  position: relative;
  height: auto;
  overflow: hidden;
  padding: 8px 4px 8px 8px;
  flex: none;
}
.board-header .button {
  display: inline-block;
  height: 30px;
  padding: 6px 7px;
  margin-right: 10px;
  background: rgba(255,255,255,0.2);
  border-radius: 3px;
  box-sizing: border-box;
  vertical-align: middle;
  display: inline-block;
  background: transparent;
}
.board-header .button:hover {
  background: rgba(255,255,255,0.3);
}
.board-header .button p {
  display: inline-block;
  padding-left: 10px;
  font-weight: bold;
  color: #fff;
  vertical-align: middle;
}
.board-header .button:hover {
  background: #026aa7;
}
.board-header .button p {
  font-size: 12px;
  font-weight: normal;
}
.board-header .board-title {
  font-size: 16px;
  font-weight: 700;
  color: #fff;
  text-decoration: none;
}
.board-header .board-archive {
  position: absolute;
  margin-right: 0px;
  right: 8px;
}
.board-lists {
  position: relative;
  flex-grow: 1;
}
#board {
  position: absolute;
  padding: 0 0 10px 0;
  margin: 0 0 10px 0;
  overflow-x: auto;
  overflow-y: hidden;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  white-space: nowrap;
}
.list-wrapper {
  display: inline-block;
  width: 270px;
  margin: 0 5px;
  height: 100%;
  vertical-align: top;
  box-sizing: border-box;
}
.list-wrapper:first-child {
  margin-left: 10px;
}
.list-wrapper .overlay {
  position: fixed;
  display: none;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
}
.list {
  display: flex;
  position: relative;
  max-height: 100%;
  background: #e2e4e6;
  border-radius: 3px;
  box-sizing: border-box;
  flex-direction: column;
}
.list .list-header {
  position: relative;
  padding: 8px 10px;
  min-height: 20px;
  font-weight: 700;
  color: #4d4d4d;
  flex: 0 0 auto;
}
.list .list-header .button {
  position: absolute;
  top: 9px;
  right: -5px;
  display: inline-block;
  height: 30px;
  padding: 6px 7px;
  margin-right: 10px;
  background: rgba(255,255,255,0.2);
  border-radius: 3px;
  box-sizing: border-box;
  vertical-align: middle;
  padding: 6px 3px;
  height: 25px;
  line-height: 10px;
  background: transparent;
}
.list .list-header .button:hover {
  background: rgba(255,255,255,0.3);
}
.list .list-header .button p {
  display: inline-block;
  padding-left: 10px;
  font-weight: bold;
  color: #fff;
  vertical-align: middle;
}
.list .list-header .button:hover {
  background: #c4c9cc;
}
.list .list-header .header-draggable {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  cursor: pointer;
}
.list .list-header .list-name textarea {
  width: 225px;
  height: 28px;
  padding: 5px;
  font-weight: 700;
  background: transparent;
}
.list .list-header .list-name textarea:focus {
  background: #fff;
  outline: none;
}
.cards-container {
  padding: 0 4px;
  margin: 0 4px;
  min-height: 10px;
  z-index: 1;
  overflow-y: auto;
  overflow-x: hidden;
  flex: 1 1 auto;
}
.card-wrapper {
  position: relative;
  max-width: 300px;
  min-height: 20px;
  margin-bottom: 6px;
  background: #fff;
  border-bottom: 1px solid #ccc;
  border-radius: 3px;
  cursor: pointer;
  z-index: 0;
}
.card-wrapper:hover {
  background: #edeff0;
}
.card-content {
  position: relative;
  padding: 6px 6px 4px 8px;
  overflow: hidden;
  z-index: 10;
}
.card-content .card-labels {
  padding-bottom: 5px;
  overflow: hidden;
}
.card-content .card-label {
  float: left;
  width: 40px;
  height: 8px;
  margin: 0 5px 3px 0;
  border-radius: 3px;
}
.card-content .green {
  background: #61bd4f;
}
.card-content .yellow {
  background: #f2d600;
}
.card-content .orange {
  background: #ffab4a;
}
.card-content .red {
  background: #eb5a46;
}
.card-content .purple {
  background: #c377e0;
}
.card-content .blue {
  background: #0079bf;
}
.card-content .sky {
  background: #00c2e0;
}
.card-content .lime {
  background: #51e898;
}
.card-content .pink {
  background: #ff80ce;
}
.card-content .black {
  background: #4d4d4d;
}
.card-content .none {
  background: #b6bbbf;
}
.card-content .status-icons {
  margin-top: 5px;
}
.card-content .status-icons .icon-text {
  display: inline-block;
  font-size: 12px;
  color: #999;
}
.card-content .status-icons > span {
  margin-right: 10px;
}
.card-title {
  display: block;
  margin: 0 0 4px;
  overflow: hidden;
  text-decoration: none;
  white-space: normal;
}
.add-new-card {
  display: block;
  position: relative;
  padding: 8px 10px;
  color: #8c8c8c;
  text-decoration: none;
  border-radius: 0 0 3px 3px;
  flex: 0 0 auto;
}
.add-new-card:hover {
  color: #4d4d4d;
  text-decoration: underline;
  background: #bababa;
}
.new-card-form {
  display: none;
}
.new-card-form .card-content {
  border-radius: 3px;
}
.new-card-form .card-content:hover {
  background: #fff;
}
.new-card-form textarea {
  width: 100%;
  height: 95px;
  resize: vertical;
}
.new-card-form textarea:focus {
  outline: none;
}
.new-card-controls {
  padding-bottom: 8px;
  border-radius: 0 0 3px 3px;
}
.card-placeholder {
  display: inline-block;
  background: #c4c9cc;
  border-radius: 3px;
  z-index: -1;
}
.list-placeholder {
  display: inline-block;
  width: 270px;
  margin: 0 5px 0 5px;
  background: #005586;
  border-radius: 3px;
}
.tilt {
  transform: rotate(3deg);
  -moz-transform: rotate(3deg);
  -webkit-transform: rotate(3deg);
}
.add-list-placeholder {
  height: 40px;
  padding: 12px 10px 8px 10px;
  background: #026aa7;
  color: #b3ccdb;
  border-radius: 3px;
  box-sizing: border-box;
  cursor: pointer;
}
.add-list-placeholder:hover {
  background: #005586;
}
.add-list-form {
  display: none;
  padding: 5px;
}
.add-list-form input[type='text'] {
  width: 100%;
  padding: 5px;
  background: rgba(0,0,0,0.05);
  border: 1px solid #aaa;
}
.add-list-controls {
  padding: 4px 0 0 0;
}
.submit-btn {
  padding: 8px 18px;
  font-size: 14px;
  font-weight: 700;
  border: none;
  border-radius: 3px;
  background: linear-gradient(to bottom, #61bd4f 0, #5aac44 100%);
  box-shadow: 0 1px 2px rgba(0,0,0,0.5);
  color: #fff;
  outline: none;
}
.submit-btn:hover {
  background: #539c3b;
}
.delete {
  margin-left: 10px;
  color: #c14c38;
  background: #e2e4e6;
}
.delete:hover {
  color: #fff;
  background: #c14c38;
}
.cancel-btn {
  padding: 8px 5px;
  font-size: 20px;
}
.cancel-btn:hover {
  color: #4d4d4d;
}
.modal-overlay,
.popover-overlay {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  justify-content: center;
  align-items: flex-start;
  justify-content: center;
  overflow: auto;
}
.modal-overlay {
  background: rgba(0,0,0,0.5);
  z-index: 25;
}
.popover-overlay {
  z-index: 200;
}
.comment-bg {
  padding: 10px;
  margin-bottom: 5px;
  background: #fff;
  border-radius: 3px;
  border: 0;
  box-shadow: 0 1px 2px rgba(0,0,0,0.23);
  box-sizing: border-box;
}
.card-details-modal {
  position: relative;
  width: 730px;
  min-height: 600px;
  padding: 15px;
  margin: 45px 0 50px;
  background: #edeff0;
  z-index: 100;
  box-sizing: border-box;
  border-radius: 3px;
}
.card-details-modal p,
.card-details-modal h5 {
  display: inline-block;
  padding-right: 5px;
  margin-bottom: 5px;
  font-weight: normal;
  color: #999;
}
.card-details-modal .modal-archived-msg {
  width: 100%;
  padding: 10px;
  margin: 0 0 15px -15px;
  background: #f7eb8f;
  border-radius: 3px;
}
.card-details-modal .modal-archived-msg p {
  padding-left: 10px;
  margin-top: 5px;
}
.card-details-modal .modal-archived-msg > .icon-archive {
  vertical-align: top;
}
.card-details-modal .header {
  positon: relative;
  padding: 0 35px 5px 25px;
  margin-bottom: 15px;
}
.card-details-modal .header > a {
  position: absolute;
  top: 10px;
  right: 10px;
  text-decoration: none;
}
.card-details-modal .header .title {
  position: relative;
  width: 100%;
}
.card-details-modal .header .title .modal-header-icon {
  position: absolute;
  top: 6px;
  left: -30px;
}
.card-details-modal .header .title textarea {
  width: 100%;
  height: 30px;
  padding: 5px;
  margin-left: -5px;
  background: transparent;
  font-weight: 700;
  font-size: 18px;
}
.card-details-modal .header .title textarea:focus {
  outline: none;
  background: #fff;
}
.card-details-modal .header .current-list a {
  padding-right: 10px;
  text-decoration: underline;
  color: #999;
}
.card-details-modal .header .current-list a:hover {
  color: #4d4d4d;
}
.card-details-modal .main-content {
  float: left;
  width: 550px;
  padding-right: 20px;
  box-sizing: border-box;
}
.card-details-modal .main-content .card-information {
  margin: 0 0 20px 25px;
}
.card-details-modal .main-content .card-information .card-modal-labels,
.card-details-modal .main-content .card-information .card-modal-due-date,
.card-details-modal .main-content .card-information .description {
  margin-bottom: 25px;
}
.card-details-modal .main-content .card-information .card-modal-due-date > h5 {
  display: block;
}
.card-details-modal .main-content .card-information .description a {
  padding-right: 10px;
  text-decoration: underline;
  color: #999;
}
.card-details-modal .main-content .card-information .description a:hover {
  color: #4d4d4d;
}
.card-details-modal .main-content .card-information .description .empty-description {
  display: block;
  padding: 10px;
  border-radius: 3px;
  cursor: pointer;
  color: #999;
}
.card-details-modal .main-content .card-information .description .empty-description:hover {
  background: #d6dadc;
  color: #4d4d4d;
}
.card-details-modal .main-content .card-information .description .empty-description span {
  margin-right: 8px;
}
.card-details-modal .main-content .card-information .description .description-text {
  margin: 10px 0 20px 0;
}
.card-details-modal .main-content .card-information .description .description-text p {
  color: #4d4d4d;
}
.card-details-modal .main-content .card-information .description .edit-description {
  display: none;
  margin: 10px 0 20px 0;
}
.card-details-modal .main-content .card-information .description .edit-description textarea {
  width: 100%;
  min-height: 110px;
  padding: 7px;
  border-color: rgba(0,0,0,0.15);
  background: #e7e8e9;
  box-shadow: inset 0 1px 6px rgba(0,0,0,0.1);
  outline: none;
}
.card-details-modal .main-content .card-comments {
  margin: 0 0 20px 25px;
}
.card-details-modal .main-content .card-comments .comment-header {
  position: relative;
  margin-bottom: 15px;
}
.card-details-modal .main-content .card-comments .comment-header span {
  position: absolute;
  top: -2px;
  left: -28px;
}
.card-details-modal .main-content .card-comments .new-comment {
  position: relative;
}
.card-details-modal .main-content .card-comments .new-comment span {
  position: absolute;
  top: -2px;
  left: -28px;
}
.card-details-modal .main-content .card-comments .new-comment textarea {
  width: 100%;
  min-height: 75px;
}
.card-details-modal .main-content .card-activity {
  margin-left: 25px;
}
.card-details-modal .main-content .card-activity .activity-header {
  position: relative;
  margin-bottom: 5px;
}
.card-details-modal .main-content .card-activity .activity-header span {
  position: absolute;
  top: -2px;
  left: -28px;
}
.card-details-modal .main-content .card-activity .activity-content .comment-single {
  padding: 15px 0;
  border-bottom: 1px solid #e3e4e5;
}
.card-details-modal .main-content .card-activity .activity-content .comment-single span {
  position: absolute;
  left: 12px;
}
.card-details-modal .main-content .card-activity .activity-content .comment-content h4 {
  padding-bottom: 10px;
}
.card-details-modal .main-content .card-activity .activity-content .comment-content .comment-text {
  display: inline-block;
  margin-bottom: 10px;
}
.card-details-modal .main-content .card-activity .activity-content .comment-content p {
  display: block;
  font-size: 12px;
}
.card-details-modal .main-content .card-activity .activity-content .comment-content p a {
  color: #999;
}
.card-details-modal .main-content .card-activity .activity-content .comment-content p a:hover {
  color: #4d4d4d;
}
.card-details-modal .sidebar {
  float: left;
  width: 150px;
}
.card-details-modal .sidebar .add-buttons,
.card-details-modal .sidebar .action-buttons {
  margin-bottom: 20px;
}
.card-details-modal .modal-button {
  position: relative;
  display: block;
  max-width: 300px;
  height: 34px;
  padding: 7px;
  margin-top: 7px;
  font-weight: 700;
  font-size: 15px;
  text-decoration: none;
  background: #fff;
  border: 1px solid #e2e4e6;
  border-bottom-color: #cdd2d4;
  border-radius: 3px;
  box-sizing: border-box;
}
.card-details-modal .modal-button span {
  margin-right: 8px;
}
.card-details-modal .modal-button:hover {
  color: #fff;
  background: #298fca;
}
.card-details-modal .modal-button:hover span {
  color: #fff;
}
.card-details-modal .modal-button .subscribe-active {
  position: absolute;
  width: 18px;
  height: 12px;
  padding: 2px 5px 8px 5px;
  top: 5px;
  right: 5px;
  text-align: center;
  background: #61bd4f;
  border-radius: 3px;
}
.card-details-modal .card-modal-delete {
  color: #fff;
  background: #eb5a46;
}
.card-details-modal .card-modal-delete:hover {
  background: #b04632;
}
.markdown h1 {
  font-size: 20px;
}
.popover {
  position: absolute;
  width: 300px;
  top: 100px;
  left: 300px;
  z-index: 9999;
  color: #8c8c8c;
  border-radius: 3px;
  background: #fff;
  box-shadow: 0 1px 6px rgba(0,0,0,0.15);
  box-sizing: border-box;
}
.popover .popover-header {
  position: relative;
  padding: 15px 0;
  margin: 0 10px 8px 10px;
  text-align: center;
  border-bottom: 1px solid #d6dadc;
}
.popover .popover-header a {
  position: absolute;
  top: 14px;
  right: 10px;
}
.popover .popover-header a span:hover {
  color: #444;
}
.popover .popover-header .popover-back {
  left: -250px;
}
.popover .popover-content {
  max-height: 325px;
  padding: 0 10px 10px 10px;
  margin-bottom: 8px;
  text-align: center;
  overflow-x: hidden;
  overflow-y: auto;
}
.popover .popover-content input[type='text'] {
  width: 100%;
  height: 35px;
  padding: 7px;
  margin-bottom: 10px;
  border: 1px solid #cdd2d4;
  background: #e2e4e6;
}
.popover .popover-content input[type='text']:focus {
  background: #fff;
}
.popover .popover-content select#position-options,
.popover .popover-content select#list-options {
  width: 100%;
  height: 40px;
  margin-bottom: 10px;
  font-size: 14px;
}
.popover .popover-content textarea {
  width: 100%;
  height: 90px;
  padding: 8px;
  margin-bottom: 15px;
  resize: vertical;
  border: 1px solid #cdd2d4;
}
.popover .popover-content input[type='text'].due-date-calendar {
  width: 120px;
  margin-right: 5px;
}
.popover .popover-content .date-picker {
  height: 205px;
  padding-bottom: 10px;
}
.popover .popover-content .date-picker .ui-datepicker {
  width: 272px;
}
.popover .popover-content label > p {
  margin-bottom: 5px;
  font-weight: 700;
  text-align: left;
  color: #4d4d4d;
}
.popover .popover-content .controls {
  clear: both;
  margin-top: 10px;
}
.list-actions-wrapper {
  text-align: left;
}
.list-actions-wrapper li > a {
  display: block;
  width: 100%;
  padding: 10px;
  margin-left: -10px;
  font-weight: 700;
  text-decoration: none;
}
.list-actions-wrapper li > a:hover {
  background: #0079bf;
  color: #fff;
}
.label-wrapper {
  margin-bottom: 5px;
}
.label-wrapper .label {
  position: relative;
  display: inline-block;
  width: 230px;
  height: 35px;
  margin-right: 5px;
  vertical-align: middle;
  border-radius: 3px;
  cursor: pointer;
}
.label-wrapper .label p {
  padding: 10px;
  text-align: left;
  color: #fff;
  font-weight: 700;
  text-shadow: 0 0 3px rgba(0,0,0,0.8);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.label-wrapper .label .selected-label {
  display: none;
  position: absolute;
  top: 8px;
  right: 8px;
  text-shadow: 0 0 5px rgba(0,0,0,0.2), 0 0 2px #000;
}
.label-wrapper .green {
  background: #61bd4f;
}
.label-wrapper .green:hover {
  box-shadow: -8px 0 #519839;
}
.label-wrapper .yellow {
  background: #f2d600;
}
.label-wrapper .yellow:hover {
  box-shadow: -8px 0 #d9851c;
}
.label-wrapper .orange {
  background: #ffab4a;
}
.label-wrapper .orange:hover {
  box-shadow: -8px 0 #d29034;
}
.label-wrapper .red {
  background: #eb5a46;
}
.label-wrapper .red:hover {
  box-shadow: -8px 0 #b04632;
}
.label-wrapper .purple {
  background: #c377e0;
}
.label-wrapper .purple:hover {
  box-shadow: -8px 0 #89609e;
}
.label-wrapper .blue {
  background: #0079bf;
}
.label-wrapper .blue:hover {
  box-shadow: -8px 0 #055a8c;
}
.label-wrapper .sky {
  background: #00c2e0;
}
.label-wrapper .sky:hover {
  box-shadow: -8px 0 #0098b7;
}
.label-wrapper .lime {
  background: #51e898;
}
.label-wrapper .lime:hover {
  box-shadow: -8px 0 #4dc26b;
}
.label-wrapper .pink {
  background: #ff80ce;
}
.label-wrapper .pink:hover {
  box-shadow: -8px 0 #cd5a91;
}
.label-wrapper .black {
  background: #4d4d4d;
}
.label-wrapper .black:hover {
  box-shadow: -8px 0 #272727;
}
.label-wrapper .none {
  background: #b6bbbf;
}
.label-wrapper .none:hover {
  box-shadow: -8px 0 #959da1;
}
.label-wrapper .edit-label {
  display: inline-block;
  width: 35px;
  height: 35px;
  text-align: center;
  vertical-align: middle;
  border-radius: 3px;
  box-sizing: border-box;
}
.label-wrapper .edit-label:hover {
  background: #d6dadc;
}
.label-wrapper .edit-label span {
  padding-top: 10px;
}
.label-wrapper .card-modal-label {
  display: inline-block;
  min-width: 40px;
  height: 32px;
  padding: 8px;
  margin-right: 10px;
  border-radius: 3px;
  box-sizing: border-box;
}
.label-wrapper .card-modal-label p {
  color: #fff;
  font-weight: 700;
  text-shadow: 0 0 3px rgba(0,0,0,0.8);
}
.label-wrapper .card-modal-label:hover {
  opacity: 0.8;
  box-shadow: none;
}
.label-wrapper .select-color > p {
  text-align: left;
}
.label-wrapper .color-picker {
  float: left;
  position: relative;
  width: 46px;
  height: 36px;
  margin: 0 10px 10px 0;
  border-radius: 3px;
  cursor: pointer;
}
.label-wrapper .color-picker:hover {
  opacity: 0.8;
  box-shadow: none;
}
.label-wrapper .color-picker .selected-color {
  display: none;
  position: absolute;
  top: 10px;
  left: 14px;
  text-shadow: 0 0 5px rgba(0,0,0,0.2), 0 0 2px #000;
}
.archive-wrapper {
  text-align: left;
}
.archive-wrapper h4 {
  padding-bottom: 10px;
}
.archive-wrapper h4:last-of-type {
  margin-top: 20px;
}
.archive-wrapper ul {
  margin-bottom: 20px;
}
.archive-wrapper p {
  display: inline-block;
  width: 135px;
}
.archive-wrapper .send-to-board {
  position: relative;
  display: block;
  max-width: 300px;
  height: 34px;
  padding: 7px;
  margin-top: 7px;
  font-weight: 700;
  font-size: 15px;
  text-decoration: none;
  background: #fff;
  border: 1px solid #e2e4e6;
  border-bottom-color: #cdd2d4;
  border-radius: 3px;
  box-sizing: border-box;
  display: inline-block;
  background: #fff;
}
.archive-wrapper .send-to-board span {
  margin-right: 8px;
}
.archive-wrapper .send-to-board:hover {
  color: #fff;
  background: #298fca;
}
.archive-wrapper .send-to-board:hover span {
  color: #fff;
}
.search-modal,
.notification-modal {
  width: 600px;
  height: 350px;
  overflow: hidden;
  background: #edeff0;
  box-sizing: border-box;
  border-radius: 3px;
}
.search-modal {
  padding: 15px;
}
.search-results li {
  padding: 10px 5px;
  text-align: left;
}
.notification-modal {
  width: 450px;
  height: 410px;
}
.notification-modal .popover-content {
  height: 400px;
}
.notification-modal .activity-wrapper {
  padding-top: 10px;
  text-align: left;
}
.notification-modal .activity-wrapper > .icon-member {
  display: inline-block;
  padding-right: 10px;
  vertical-align: top;
}
.notification-modal .activity-wrapper .activity-content {
  display: inline-block;
  width: 395px;
  padding: 0 0 15px 0;
  border-bottom: 1px solid #e3e4e5;
  color: #4d4d4d;
}
.notification-modal .activity-wrapper .activity-content .notification-time {
  font-size: 12px;
  color: #999;
}
.icon-activity:before {
  content: '\e900';
}
.icon-plus:before {
  content: '\e902';
}
.icon-archive:before {
  content: '\e903';
}
.icon-attachment:before {
  content: '\e904';
}
.icon-back:before {
  content: '\e905';
}
.icon-board:before {
  content: '\e906';
}
.icon-calendar:before {
  content: '\e908';
}
.icon-camera:before {
  content: '\e909';
}
.icon-list:before {
  content: '\e90A';
}
.icon-card:before {
  content: '\e90B';
}
.icon-check:before {
  content: '\e90C';
}
.icon-checklist:before {
  content: '\e90D';
}
.icon-duedate:before {
  content: '\e90E';
}
.icon-cancel:before {
  content: '\e90F';
}
.icon-comment:before {
  content: '\e910';
}
.icon-description:before {
  content: '\e911';
}
.icon-edit:before {
  content: '\e915';
}
.icon-mail:before {
  content: '\e916';
}
.icon-emoji:before {
  content: '\e917';
}
.icon-expand:before {
  content: '\e918';
}
.icon-filter:before {
  content: '\e91A';
}
.icon-forward:before {
  content: '\e91C';
}
.icon-settings:before {
  content: '\e91D';
}
.icon-info:before {
  content: '\e920';
}
.icon-label:before {
  content: '\e921';
}
.icon-member:before {
  content: '\e925';
}
.icon-mention:before {
  content: '\e926';
}
.icon-notification:before {
  content: '\e928';
}
.icon-team:before {
  content: '\e92A';
}
.icon-more:before {
  content: '\e92B';
}
.icon-powerup:before {
  content: '\e92C';
}
.icon-private:before {
  content: '\e92D';
}
.icon-public:before {
  content: '\e92E';
}
.icon-refresh:before {
  content: '\e92F';
}
.icon-delete:before {
  content: '\e930';
}
.icon-search:before {
  content: '\e931';
}
.icon-upload:before {
  content: '\e932';
}
.icon-star:before {
  content: '\e933';
}
.icon-sticker:before {
  content: '\e934';
}
.icon-subscribe:before {
  content: '\e935';
}
.icon-open:before {
  content: '\e912';
}
.icon-close:before {
  content: '\e938';
}
.icon-thumbup:before {
  content: '\e939';
}
.icon-large,
.icon-small,
.icon-xlarge {
  display: inline-block;
  vertical-align: middle;
  font-family: trellicons;
  -webkit-font-smoothing: antialiased;
  font-style: normal;
  font-weight: 400;
  text-align: center;
  color: #999;
}
.icon-large {
  font-size: 15px;
}
.icon-small {
  width: 18px;
  height: 18px;
  line-height: 18px;
  font-size: 12px;
}
.icon-xlarge {
  font-size: 20px;
}
.light {
  color: #fff;
}
