@import 'whitespace-reset.css'
@import 'mixins'
@font-face
  font-family: 'trellicons'
  src: url('trellicons.ttf') format('truetype')

body
  background: #0079bf
  overflow-y: auto
  
body, html, textarea, input[type='text']
  font: normal 14px Helvetica, Arial, sans-serif
  color: #4D4D4D

#surface
  display: flex
  flex-direction: column

body, #surface, html
  height: 100%

a
  color: #4D4D4D
  
h3
  font-family: inherit
  font-weight: 700
  font-size: 16px
  color: #4D4D4D

input[type='text'],
textarea
  border-radius: 3px
  border: none
  box-sizing: border-box
  resize: none

header
  position: relative
  width: 100%
  padding: 5px
  overflow: hidden
  flex: none
  z-index: 10
  background: #026aa7
  .header-logo
    position: absolute
    display: block
    width: 80px
    height: 30px
    margin-left: -40px
    top: 5px
    left: 50%
    bottom: 0
    text-align: center
    opacity: .5
    z-index: 2
    .header-logo-image
      position: absolute
      width: 80px
      height: 30px
      background-image: url('/images/header-logo.png')
      background-position: top right
      background-repeat: no-repeat
      background-size: 80px 30px
      right: 0
      top: 0
    &:hover
      opacity: 100
  .header-button
    icon-button()
  .header-search
    position: relative
    display: inline-block
    vertical-align: middle
    input[type='text'].search-field
      width: 180px
      padding: 7px
      background: rgba(255, 255, 255, .3)
      outline: none
      transition: width 150ms
      &:hover
        background: rgba(255, 255, 255, .5)
      &:focus
        background: white
    span
      position: absolute
      top: 7px
      right: 6px
    span.close-search
      display: none
    input[type='text'].search-field.search-field-wide
      width: 380px
  .user-info
    position: absolute
    display: inline-block
    margin-right: 0px
    right: 5px

main
  position: relative
  overflow-y: auto
  flex-grow: 1
  
.board-wrapper
  position: absolute
  top: 0
  right: 0
  bottom: 0
  left: 0
  
.board-content
  display: flex
  height: 100%
  margin-right: 0
  flex-direction: column

.board-header
  position: relative
  height: auto
  overflow: hidden
  padding: 8px 4px 8px 8px
  flex: none
  .button
    icon-button()
    display: inline-block
    background: transparent
    &:hover
      background: #026aa7
    p
      font-size: 12px
      font-weight: normal
  .board-title
    font-size: 16px
    font-weight: 700
    color: #ffffff
    text-decoration: none
  .board-menu
    position: absolute
    margin-right: 0px
    right: 8px

.board-lists
  position: relative
  flex-grow: 1
  
#board
  position: absolute
  padding: 0 0 10px 0
  margin: 0 0 10px 0
  overflow-x: auto
  overflow-y: hidden
  top: 0
  right: 0
  bottom: 0
  left: 0
  white-space: nowrap

.list-wrapper
  display: inline-block
  width: 270px
  margin: 0 5px
  height: 100%
  vertical-align: top
  box-sizing: border-box
  &:first-child
    margin-left: 10px
  .overlay
    position: fixed
    display: none
    top: 0
    right: 0
    bottom: 0
    left: 0
    z-index: -1

.list
  display: flex
  position: relative
  max-height: 100%
  background: #E2E4E6
  border-radius: 3px
  box-sizing: border-box
  flex-direction: column
  .list-header
    position: relative
    padding: 8px 10px
    min-height: 20px
    font-weight: 700
    color: #4d4d4d
    flex: 0 0 auto
    .button
      position: absolute
      top: 9px
      right: -5px
      icon-button()
      padding: 6px 3px
      height: 25px
      line-height: 10px
      background: transparent
      &:hover
        background: #c4c9cc
    .header-draggable
      display: none
      position: absolute
      top: 0
      right: 0
      bottom: 0
      left: 0
      cursor: pointer
    .list-name
      textarea
        width: 225px
        height: 28px
        padding: 5px
        font-weight: 700
        background: transparent
        &:focus
          background: #ffffff
          outline: none
.cards-container
  padding: 0 4px
  margin: 0 4px
  min-height: 10px
  z-index: 1
  overflow-y: auto
  overlow-x: hidden
  flex: 1 1 auto

.card-wrapper
  position: relative
  max-width: 300px
  min-height: 20px
  margin-bottom: 6px
  background: #ffffff
  border-bottom: 1px solid #cccccc
  border-radius: 3px
  cursor: pointer
  z-index: 0
  &:hover
    background: #EDEFF0
  
.card-content
  position: relative
  padding: 6px 6px 4px 8px
  overflow: hidden
  z-index: 10
  
.card-title
  display: block
  margin: 0 0 4px
  overflow: hidden
  text-decoration: none
  white-space: normal
  
.add-new-card
  display: block
  position: relative
  padding: 8px 10px
  color: #8c8c8c
  text-decoration: none
  border-radius: 0 0 3px 3px
  flex: 0 0 auto
  &:hover
    color: #4D4D4D
    text-decoration: underline
    background: #bababa
    
.new-card-form
  display: none
  .card-content
    border-radius: 3px
    &:hover
      background: #ffffff
  textarea
    width: 100%
    height: 95px
    resize: vertical
    &:focus
      outline: none

.new-card-controls
  padding-bottom: 8px
  border-radius: 0 0 3px 3px

.card-placeholder
  display: inline-block
  background: #c4c9cc
  border-radius: 3px
  z-index: -1

.list-placeholder
  display: inline-block
  width: 270px
  margin: 0 5px 0 5px
  background: #005586
  border-radius: 3px
  
.tilt
  transform: rotate(3deg)
  -moz-transform: rotate(3deg)
  -webkit-transform: rotate(3deg)
  
.add-list-placeholder
  height: 40px
  padding: 12px 10px 8px 10px
  background: #026aa7
  color: #B3CCDB
  border-radius: 3px
  box-sizing: border-box
  cursor: pointer
  &:hover
    background: #005586
    
.add-list-form
  display: none
  padding: 5px
  input[type='text']
    width: 100%
    padding: 5px
    background: rgba(0, 0, 0, .05)
    border: 1px solid #aaaaaa
    //box-shadow: inset 1px 8px rgba(0, 0, 0, .15)

.add-list-controls
  padding: 4px 0 0 0

.submit-btn
  padding: 8px 18px
  font-size: 14px
  font-weight: 700
  border: none
  border-radius: 3px
  background: linear-gradient(to bottom, #61bd4f 0, #5aac44 100%)
  box-shadow: 0 1px 2px rgba(0, 0, 0,.5)
  color: #ffffff
  outline: none
  &:hover
    background: #539C3B
.delete
  margin-left: 10px
  color: #C14C38
  background: #E2E4E6
  &:hover
    color: #ffffff
    background: #C14C38  

.cancel-btn
  padding: 8px 5px
  font-size: 20px
  &:hover
    color: #4D4D4D

.modal-overlay
  display: none
  position: fixed
  top: 0
  right: 0
  bottom: 0
  left: 0
  justify-content: center
  background: rgba(0, 0, 0, 0.5)
  z-index: 25
  align-items: flex-start
  justify-content: center
  overflow: auto

.comment-bg
  padding: 10px
  margin-bottom: 5px
  background: #ffffff
  border-radius: 3px
  border: 0
  box-shadow: 0 1px 2px rgba(0,0,0,.23)
  box-sizing: border-box

.card-details-modal
  position: relative
  width: 730px
  min-height: 600px
  padding: 15px
  margin: 45px 0 50px
  background: #edeff0
  box-sizing: border-box
  border-radius: 3px
  p, h5
    display: inline-block
    padding-right: 5px
    margin-bottom: 5px
    font-weight: normal
    color: #999999
  .header
    positon: relative
    padding: 0 35px 5px 25px
    margin-bottom: 15px
    .modal-header-icon
      position: absolute
      top: 20px
      left: 15px
    > a
      position: absolute
      top: 10px
      right: 10px
      text-decoration: none
    .title
      width: 100%
      textarea
        width: 100%
        height: 30px
        padding: 5px
        background: transparent
        font-weight: 700
        font-size: 18px
        &:focus
          outline: none
          background: #ffffff
    .current-list
      a
        padding-right: 10px
        text-decoration: underline
        color: #999999
        &:hover
          color: #4D4D4D
  .main-content
    float: left
    width: 550px
    padding-right: 20px
    box-sizing: border-box
    .card-information
      margin: 0 0 20px 25px
      .card-modal-labels, .card-modal-due-date, .description
        margin-bottom: 25px
      .card-modal-due-date > a
        display: block
      .description
        a
          padding-right: 10px
          text-decoration: underline
          color: #999999
          &:hover
            color: #4D4D4D
        .empty-description
          display: block
          padding: 10px
          border-radius: 3px
          cursor: pointer
          color: #999999
          &:hover
            background: #D6DADC
            color: #4D4D4D
          span
            margin-right: 8px

        .description-text
          margin: 10px 0 20px 0
          p
            color: #4D4D4D
        .edit-description
          display: none
          margin: 10px 0 20px 0
          textarea
            width: 100%
            min-height: 110px
            padding: 7px
            border-color: rgba(0, 0, 0, .15);
            background: #E7E8E9
            box-shadow: inset 0 1px 6px rgba(0, 0, 0, .1)
            outline: none
    .card-comments
      margin: 0 0 20px 25px
      .comment-header
        position: relative
        margin-bottom: 15px
        span
          position: absolute
          top: -2px
          left: -28px
      .new-comment
        position: relative
        span
          position: absolute
          top: -2px
          left: -28px
        textarea
          width: 100%
          min-height: 75px
          // border-bottom: solid 30px transparent
    .card-activity
      margin-left: 25px
      .activity-header
        position: relative
        margin-bottom: 5px
        span
          position: absolute
          top: -2px
          left: -28px
      .activity-content
        .comment-single
          padding: 15px 0
          border-bottom: 1px solid #E3E4E5
          span
            position: absolute
            left: 12px
        .comment-content
          h4
            padding-bottom: 10px        
          .comment-text
            display: inline-block
            margin-bottom: 10px
          p
            display: block
            font-size: 12px
            a
              color: #999999
              &:hover
                color: #4D4D4D
            
  .sidebar
    float: left
    width: 150px
    .add-buttons, .action-buttons
      margin-bottom: 20px
  .modal-button
    position: relative
    display: block
    max-width: 300px
    height: 34px
    padding: 7px
    margin-top: 7px
    font-weight: 700
    font-size: 15px
    text-decoration: none
    background: #ffffff
    border: 1px solid #E2E4E6
    border-bottom-color: #cdd2d4
    border-radius: 3px
    box-sizing: border-box
    span
      margin-right: 8px
    &:hover
      color: #ffffff
      background: #298FCA
      span
        color:#ffffff
    .subscribe-active
      position: absolute
      width: 18px
      height: 12px
      padding: 2px 5px 8px 5px
      top: 5px
      right: 5px
      text-align: center
      background: #61BD4F
      border-radius: 3px

.markdown
  h1
    font-size: 20px
    
.popover
  position: absolute
  width: 300px
  top: 100px
  left: 300px
  z-index: 9999
  color: #8C8C8C
  border-radius: 3px
  background: #ffffff
  box-shadow: 0 1px 6px rgba(0, 0, 0,.15)
  box-sizing: border-box
  .popover-header
    position: relative
    padding: 15px 0
    margin: 0 10px 8px 10px
    text-align: center
    border-bottom: 1px solid #D6DADC
    a
      position: absolute
      top: 14px
      right: 10px
      span:hover
        color: #444444
    .popover-back
      left: -250px
  .popover-content
    max-height: 325px
    padding: 0 10px 10px 10px
    margin-bottom: 8px
    text-align: center
    overflow-x: hidden
    overflow-y: auto
    input[type='text']
      width: 100%
      height: 35px
      padding: 7px
      margin-bottom: 10px
      border: 1px solid #CDD2D4
      background: #E2E4E6
      &:focus
        background: #ffffff
    select#position-options, select#list-options
      width: 100%
      height: 40px
      margin-bottom: 10px
      font-size: 14px
    textarea
      width: 100%
      height: 90px
      padding: 8px
      margin-bottom: 15px
      resize: vertical
      border: 1px solid #CDD2D4
    input[type='text'].due-date-calendar
      width: 120px
      margin-right: 5px
    .date-picker
      height: 205px
      padding-bottom: 10px
      .ui-datepicker
        width: 272px
    label > p
      margin-bottom: 5px
      font-weight: 700
      text-align: left
      color: #4D4D4D
    .controls
      clear: both
      margin-top: 10px

.label-wrapper
  margin-bottom: 5px
  .label
    position: relative
    display: inline-block
    width: 230px
    height: 35px
    margin-right: 5px
    vertical-align: middle
    border-radius: 3px
    cursor: pointer
    p
      padding: 10px
      text-align: left
      color: #ffffff
      font-weight: 700
      text-shadow: 0 0 3px rgba(0, 0, 0, .8)
      overflow: hidden
      text-overflow: ellipsis
      white-space: nowrap
    .selected-label
      display: none
      position: absolute
      top: 8px
      right: 8px
      text-shadow: 0 0 5px rgba(0, 0, 0, .2), 0 0 2px #000000
  .green
    background: #61BD4F
    &:hover
      box-shadow: -8px 0 #519839
  .yellow
    background: #F2D600
    &:hover
      box-shadow: -8px 0 #D9851C
  .orange
    background: #FFAB4A
    &:hover
      box-shadow: -8px 0 #D29034
  .red
    background: #EB5A46
    &:hover
      box-shadow: -8px 0 #B04632
  .purple
    background: #C377E0
    &:hover
      box-shadow: -8px 0 #89609E
  .blue
    background: #0079BF
    &:hover
      box-shadow: -8px 0 #055A8C
  .sky
    background: #00C2E0
    &:hover
      box-shadow: -8px 0 #0098B7
  .lime
    background: #51E898
    &:hover
      box-shadow: -8px 0 #4DC26B
  .pink
    background: #FF80CE
    &:hover
      box-shadow: -8px 0 #CD5A91
  .black
    background: #4d4d4d
    &:hover
      box-shadow: -8px 0 #272727      
  .none
    background: #B6BBBF
    &:hover
      box-shadow: -8px 0 #959DA1  
  .edit-label
    display: inline-block
    width: 35px
    height: 35px
    text-align: center
    vertical-align: middle
    border-radius: 3px
    box-sizing: border-box
    &:hover
      background: #D6DADC
    span
      padding-top: 10px
  .card-modal-label
    display: inline-block
    min-width: 40px
    height: 32px
    padding: 8px
    margin-right: 10px
    border-radius: 3px
    box-sizing: border-box
    p
      color: #ffffff
      font-weight: 700
      text-shadow: 0 0 3px rgba(0, 0, 0, .8)
    &:hover
      opacity: .8
      box-shadow: none
  .select-color > p
    text-align: left
  .color-picker
    float: left
    position: relative
    width: 46px
    height: 36px
    margin: 0 10px 10px 0
    border-radius: 3px
    cursor: pointer
    &:hover
      opacity: .8
      box-shadow: none
    .selected-color
      display: none
      position: absolute
      top: 10px
      left: 14px
      text-shadow: 0 0 5px rgba(0, 0, 0, .2), 0 0 2px #000000

.search-modal
  width: 600px
  height: 350px
  margin-top: 10px
  top: 30px
  left: 94px
  overflow: hidden
  background: #EDEFF0
  box-sizing: border-box
  border-radius: 3px

// icons

.icon-activity
  &:before
    content: icons.activity

.icon-plus
  &:before
    content: icons.plus

.icon-archive
  &:before
    content: icons.archive

.icon-attachment
  &:before
    content: icons.attachment

.icon-back
  &:before
    content: icons.back

.icon-board
  &:before
    content: icons.board

.icon-calendar
  &:before
    content: icons.calendar

.icon-camera
  &:before
    content: icons.camera

.icon-list
  &:before
    content: icons.list
    
.icon-card
  &:before
    content: icons.card

.icon-check
  &:before
    content: icons.check

.icon-checklist
  &:before
    content: icons.checklist

.icon-duedate
  &:before
    content: icons.duedate

.icon-cancel
  &:before
    content: icons.cancel

.icon-comment
  &:before
    content: icons.comment

.icon-description
  &:before
    content: icons.description

.icon-edit
  &:before
    content: icons.edit

.icon-mail
  &:before
    content: icons.mail

.icon-emoji
  &:before
    content: icons.emoji

.icon-expand
  &:before
    content: icons.expand

.icon-filter
  &:before
    content: icons.filter

.icon-forward
  &:before
    content: icons.forward

.icon-settings
  &:before
    content: icons.settings

.icon-info
  &:before
    content: icons.info

.icon-label
  &:before
    content: icons.label

.icon-member
  &:before
    content: icons.member

.icon-mention
  &:before
    content: icons.mention

.icon-notification
  &:before
    content: icons.notification

.icon-team
  &:before
    content: icons.team

.icon-more
  &:before
    content: icons.more

.icon-powerup
  &:before
    content: icons.powerup

.icon-private
  &:before
    content: icons.private

.icon-public
  &:before
    content: icons.public

.icon-refresh
  &:before
    content: icons.refresh

.icon-search
  &:before
    content: icons.search

.icon-upload
  &:before
    content: icons.upload

.icon-star
  &:before
    content: icons.star

.icon-sticker
  &:before
    content: icons.sticker

.icon-subscribe
  &:before
    content: icons.subscribe

.icon-open
  &:before
    content: icons.open

.icon-close
  &:before
    content: icons.close

.icon-thumbup
  &:before
    content: icons.thumbup

.icon-large, .icon-small, .icon-xlarge
  display: inline-block
  vertical-align: middle
  font-family: trellicons
  -webkit-font-smoothing: antialiased
  font-style: normal
  font-weight: 400
  text-align: center
  color: #999999
  
.icon-large
  font-size: 15px
  
.icon-small
  width: 18px
  height: 18px
  line-height: 16px
  font-size: 12px
  
.icon-xlarge
  font-size: 20px

.light
  color: #ffffff
  