icons = {
  activity: '\e900',
  plus: '\e902',
  archive: '\e903',
  attachment: '\e904',
  back: '\e905',
  board: '\e906',
  calendar: '\e908',
  camera: '\e909',
  list: '\e90A',
  card: '\e90B',
  check: '\e90C',
  checklist: '\e90D',
  duedate: '\e90E',
  cancel: '\e90F',
  comment: '\e910',
  description: '\e911',
  edit: '\e915',
  mail: '\e916',
  emoji: '\e917',
  expand: '\e918',
  filter: '\e91A',
  forward: '\e91C',
  settings: '\e91D',
  info: '\e920',
  label: '\e921',
  member: '\e925',
  mention: '\e926',
  notification: '\e928',
  team: '\e92A',
  more: '\e92B',
  powerup: '\e92C',
  private: '\e92D',
  public: '\e92E',
  refresh: '\e92F',
  search: '\e931',
  upload: '\e932',
  star: '\e933',
  sticker: '\e934',
  subscribe: '\e935',
  open: '\e912',
  close: '\e938',
  thumbup: '\e939',
}

icon-button()
  display: inline-block
  height: 30px
  padding: 6px 7px
  margin-right: 10px
  background: rgba(255, 255, 255, .2)
  border-radius: 3px
  box-sizing: border-box
  &:hover
    background: rgba(255, 255, 255, .3)
  p
    display: inline-block
    padding-left: 10px
    font-weight: bold
    color: #ffffff
    vertical-align: middle